/* Números */
.contenedor_num {
  display: flex;
  justify-content: center;
  align-items: center;
}

.key.key_state_active_num {
  box-shadow: 2px 2px 2px #777, 0px 0px 35px 0px #d0263c;
  border-bottom: 1px solid #d0263c;
  text-shadow: 0px 0px 10px #fff, 0px 0px 10px #fff;
  transform: translateY(4px);
  transition: all 0.1s ease 0s;
}

.button_num {
  position: relative;
  float: left;

  background: #211f20;
  border-bottom: 0.4vw solid #0045a6;
  /* border-radius: 0.8vw; */
  border-radius: 8px;
  box-shadow: 0.4vw 0.4vw 0.4vw #00b7f8;
  color: #fff;
  cursor: pointer;
  display: block;
  font-family: "Raleway", Arial, Helvetica;
  font-size: 1.5vw;
  padding: 3.3px 3.3px;
  margin: 0 0.8vw 0.8vw 0;
  text-align: center;
  transition: all 0.2s ease 0s;
  width: 4.3vw;
  height: 4.2vw;
  border-color: #0096f7;
  border: #0096f7 1px solid;
}

/*.button_num:hover {
  transform: scale(1.1);
  transition: transform 0.1s ease;
  z-index: 1;
}*/

:root {
  --main-color-num: #ffffff;
}

.n1 {
  color: var(--main-color-num);
  font-weight: bold;
}

.n2 {
  color: var(--main-color-num);
  font-weight: bold;
}

.n3 {
  color: var(--main-color-num);
  font-weight: bold;
}

.n4 {
  color: var(--main-color-num);
  font-weight: bold;
}

.n5 {
  color: var(--main-color-num);
  font-weight: bold;
}

.n6 {
  color: var(--main-color-num);
  font-weight: bold;
}

.n7 {
  color: var(--main-color-num);
  font-weight: bold;
}

.n8 {
  color: var(--main-color-num);
  font-weight: bold;
}

.n9 {
  color: var(--main-color-num);
  font-weight: bold;
}

.n0 {
  color: var(--main-color-num);
  font-weight: bold;
}

.n1,
.n2,
.n3,
.n4,
.n5,
.n6,
.n7,
.n8,
.n9,
.n0 {
  margin-top: 1.5vw !important;
}

/* -------------------- Media Querys -------------------- */
@media (max-width: 600px) {
  .button_num {
    width: 3.4vw;
    height: 3.9vw;
    padding: 2vw 2.3vw;
  }

  .contenedor_num {
    margin-left: 5px;
    margin-top: -15px;
    padding-bottom: 4px;
  }

  .n1,
  .n2,
  .n3,
  .n4,
  .n5,
  .n6,
  .n7,
  .n8,
  .n9,
  .n0 {
    font-size: 11px;
  }
}