.VG {
  margin-top: -10px !important;
}

.VI {
  margin-top: 10px !important;
  margin-bottom: -10px !important;
}

#volumen_controles {
  position: relative;
  background-color: rgba(20, 20, 20, 0.95);
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  color: white;
  font-family: Verdana, sans-serif;
  z-index: 100;
  padding: 20px;
  margin: 20px auto;
  text-align: center;
  max-width: 800px;
  width: 90%;
}

#toggleVolumen {
  display: block;
  font-size: 1em;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 6px;
  background-color: #333;
  color: white;
  border: none;
  cursor: pointer;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s;
}

#toggleVolumen:hover {
  background-color: #555;
}

#padVolumes {
  display: grid;
  column-gap: 20px;
  row-gap: 14px;
  margin-top: 12px;
  width: 100%;
  padding: 0 10px;
  box-sizing: border-box;
}

#padVolumes label {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.85em;
  color: #ddd;
  margin-bottom: 10px;
  padding: 6px;
  background: rgba(255, 255, 255, 0.03);
  border-radius: 8px;
}

#padVolumes label input[type="range"] {
  width: 100px;
  height: 4px;
  margin-top: 4px;
  accent-color: #00b7f8;
}

#masterVolume {
  width: 100%;
  margin-bottom: 12px;
}

.hidden {
  display: none !important;
}

/* Móviles: menú debajo */
@media (max-width: 768px) {
  #volumen_controles:not(.hidden) {
    position: fixed;
    top: 0;
    left: 50;
    height: 90dvh;
    overflow-y: auto;
    z-index: 9999;
    padding: 20px;
    display: flex;
    width: 75vw;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
  }

  #padVolumes {
    grid-template-columns: repeat(2, 1fr);
    padding: 0 12px;
    display: grid;
    box-sizing: border-box;
  }

  #padVolumes label {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.85em;
    color: #ddd;
    padding: 6px;
    background: rgba(255, 255, 255, 0.03);
    border-radius: 8px;
  }

  /* Animación GLOBAL para móvil (por defecto) */
  #volumen_controles:not(.hidden) {
    animation: fadeInMobile 0.3s ease-out;
  }

  @keyframes fadeInMobile {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }

    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

/* PC: menú flotante centrado y compacto */
@media (min-width: 769px) {
  #volumen_controles:not(.hidden) {
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    padding: 30px 20px;
    z-index: 9999;
    animation: fadeIn 0.3s ease-out;
  }

  #padVolumes {
    grid-template-columns: repeat(4, 1fr);
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translate(-50%, -10px);
    }

    to {
      opacity: 1;
      transform: translate(-50%, 0);
    }
  }
}